<a href="https://colab.research.google.com/github/GokhanDonmez/AISEC_DL_ML/blob/main/MLHomework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model
import pandas as pd
import math

In [12]:
df=pd.read_csv('/content/drive/MyDrive/YapayZeka/hiring.csv')

Some regulazition to easy coding

In [13]:
df['test_score']=df['test_score(out of 10)']
df['interview_score']=df['interview_score(out of 10)']
df['salary']=df['salary($)']
df

,experience,test_score(out of 10),interview_score(out of 10),salary($),test_score,interview_score,salary
0,NaN,8.0,9,50000,8.0,9,50000
1,NaN,8.0,6,45000,8.0,6,45000
2,five,6.0,7,60000,6.0,7,60000
3,two,10.0,10,65000,10.0,10,65000
4,seven,9.0,6,70000,9.0,6,70000
5,three,7.0,10,62000,7.0,10,62000
6,ten,NaN,7,72000,NaN,7,72000
7,eleven,7.0,8,80000,7.0,8,80000

we are convert to string number to integer. We are dropping unnecassary columns.

In [14]:

sayi_sozlugu = {'one': 1, 'two': 2, 'three': 3, 'four': 4, 'five': 5, 'six': 6, 'seven': 7, 'eight': 8, 'nine': 9, 'ten': 10,'eleven':11}
df['experience'] = df['experience'].map(sayi_sozlugu)
df_new=df.drop(['test_score(out of 10)','interview_score(out of 10)','salary($)'],axis=1)
df_new

   experience  test_score  interview_score  salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000

Finding median number and put them inside of nan values.

In [15]:
exp_median=math.floor(df_new.experience.median())

In [16]:
df_new.experience=df_new.experience.fillna(exp_median)

In [17]:
df_new

   experience  test_score  interview_score  salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000

In [18]:
test_median=math.floor(df_new.test_score.median())
df_new.test_score=df_new.test_score.fillna(test_median)
df_new

   experience  test_score  interview_score  salary
0         6.0         8.0                9   50000
1         6.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         8.0                7   72000
7        11.0         7.0                8   80000

In [19]:
reg=linear_model.LinearRegression()

In [21]:
reg.fit(df_new[['experience','test_score','interview_score']],df_new.salary)

LinearRegression()

In [25]:
X_test = np.array([[10,8,7]])
reg.predict(X_test)

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71154.47154472])